@model Wander_Models.ViewModels.OrderVM

<div class="container">


<form method="post">
    

    <br />
    <div class="backgroundWhite container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-12 d-none d-md-block col-md-6 pb-1">
                    <i class="fas fa-shopping-cart"></i> &nbsp; Rental Request
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <a asp-controller="RentalInquiry" asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                </div>
            </div>
            <div class="card-body pb-0">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Customers Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">

                                    <input asp-for="@Model.orderDetails.Name" type="text" class="form-control"  readonly />
                                   

                                </div>
                            </div>
                           
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">

                                    <input asp-for="@Model.orderDetails.City" type="text" class="form-control" readonly/>

                                </div>

                            </div>
                           

                           
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">

                                    <input asp-for="@Model.orderDetails.Email" type="text" class="form-control" readonly />
                                    

                                </div>
                            </div>
          
                       


                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Property Summary</span>
                            </h4>
                            <ul class="list-group mb-3">

                                <li class="list-group-item d-flex justify-content-between p-2">
                                    <div class="row container">
                                        <div class="col-8">
                                            <h6 class="my-0 text-info">Name: @Model.orderDetails.Property.Name</h6>
                                            <small class="text-muted">beds: @Model.orderDetails.Property.Beds</small><br />
                                            <small class="text-muted">baths: @Model.orderDetails.Property.Baths</small><br />

                                        </div>
                                      
                                    </div>
                                </li>

                                <li class="list-group-item bg-info">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-right">
                                            <h5 class="text-white">$@Model.orderDetails.Property.Price/Month</h5>
                                        </div>
                                    </div>
                                </li>



                            </ul>


                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    </div>

